body {
	background-image: url("../images/cover.jpg");
	background-size: cover;
	height: 100%;
}

button {
	width: 30%;
	height: 40px;
	margin: 0 10%;
	
}

button.answerchoice {
	display: none;
}

button:hover {
	background-color: blue;
	color: white;
}

.answers div {
	margin: 0 auto;
}

img {
	height: 200px;
	width: auto;
}

h1, h2, h3, .question {
	text-align: center;
	color: maroon;
}